[Desktop Entry]
Type=Application
Version=1.0
Name=Alpine
GenericName=Alpine Linux
Comment=Alpine subsystem
Exec=alpine
Icon=io.github.paledega.alpine-rootfs
Terminal=true
Categories=System;
